<form action="/series/add" method="post">

<div>
    <label for="title">Write a title:</label>
    <input type="text" name="title" placeholder="title" id="title">
</div>

<div>
    <label for="description">description:</label>
    <textarea name="description" placeholder="description" cols="100" rows="20" id="description"></textarea>
</div>

<div>
    <label for="capitulos">capitulos</label>
    <input type="number" name="chapters" id="chapters">
</div>

<div>
    <label for="cover">caratula</label>
    <input type="file" name="cover" id="cover">
</div>

<button>Add</button>

</form>