<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">Mis tareas</a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item bg-dark border border-danger">
                <a href="/add">Nueva Tarea</a>
            </li>
            <li class="list-group-item bg-dark border border-danger">
                <a href="/about">About</a>
            </li>
            <li class="list-group-item bg-dark border border-danger">
                <a href="/history">Historial</a>
            </li>
        </ul>
    </div>
</nav>