<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a href='/' class="text-white navbar-brand">Mis Tareas</a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item bg-dark border border-danger" alt="Nueva Tarea">
                <a href="/" class="text-white">Tareas</a>
            </li>
            <li class="list-group-item bg-dark border border-danger">
                <a href="/add" class="text-white">Nueva</a>
            </li>
            <li class="list-group-item bg-dark border border-danger">
                <a href="/history" class="text-white">Historial</a>
            </li>
            <li class="list-group-item bg-dark border border-danger">
                <a href="/about" class="text-white">About</a>
            </li>
        </ul>
    </div>
</nav>